<!DOCTYPE html>
<html>
<head>
 	<link rel="shortcut icon" type="image/x-icon" href="pictures/Site-logo.png" />
	<title>CosmeticDiary</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="myApp.js"></script>
	<script src="myCtrl.js"></script>
</head>

<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html">				
				<img src="pictures/Site-logo.png" alt ="COSMETIC DAIRY" height = "35">
			</a>
		</div>
		<dv class="collpas nav-bar-collapse">
			<ur class = "nav navbar-nav">
				<li> <a href="about.html"><img src="pictures/About-logo.png" alt ="About" height = "35"></a></li>
			</ur>
			<ur class = "nav navbar-nav">
				<li> <a href="#"><img src="pictures/Sephora-logo.jpg" alt ="Sephora" height = "35"></a></li>
			</ur>
			<ur class = "nav navbar-nav">
				<li> <a href="#"><img src="pictures/Fifth-logo.png" alt ="Saks Fifth Avenue" height = "35"></a></li>
			</ur>
			<ur class = "nav navbar-nav">
				<li> <a href="#"><img src="pictures/Dealmoon-logo.png" alt ="Dealmoon" height = "35"></a></li>
			</ur>
			<ur class = "nav navbar-nav">
				<li> <a href="#"> <img src="pictures/YouTube-logo.png" alt ="Youtube" height = "35"></a></li>
			</ur>
		</div>
	</div>
</nav>
<div ng-app="myApp" ng-controller="myCtrl">
	<div class="container">
		<div class="row">
			<!-- New stuff bought -->
			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel-heading"> 拔草 </div>
					<div class="panel-body">
						<form>
							<div class="form-group row">
							<button class="btn center-block" ng-click = "showPurchaseForms()" ng-show="showPurchaseButton"> 		Bought anything new? 
							</button> 
							</div>
							<div ng-show="showPurchaseForm">
								<div class="form-group row">
								<label  class="col-sm-3 col-form-label">Name</label>
									<div class="col-sm-9">
									<input type="text" ng-model="productName"><br>
									</div>
								</div>
								<div class="form-group row">
									<label  class="col-sm-3 col-form-label">Price</label>
									<div class="col-sm-9">
									<input type="number" name="priceTag" ng-model="productPrice">
									</div>
								</div>	
								<div class="form-group row">
									<label  class="col-sm-3 col-form-label">Catalog</label>
									<div class="col-sm-9">
									<select style='width:175px' ng-model="productCatalog" ng-options ="x.catalog for x in productOwned"></select>
									</div>
								</div>	
								<br>
								<div align="center">
									<button class="btn btn-default" type="submit" ng-click = "showPurchaseNow()"> That's it! </button> 
									<button class="btn btn-default" type="submit" ng-click = "cancelPurchase()"> Cancel! </button> 
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Stuff already bought -->
			<div class="col-sm-7">
				<div class="panel panel-default">
					<div class="panel-heading"> 草地 </div>
					<div class="panel-body">
						<h2>{{history()}}</h2><br>
						<table class="table table-striped">
							<tr>
								<th>Product</th>
								<th>Catalog</th>
								<th>Price</th>
							</tr>
						 	<tr ng-repeat="x in productOwned">
						    	<td>{{ x.name }}</td>
						    	<td>{{ x.catalog }}</td>
						    	<td>${{ x.price }}</td>
						  	</tr>
						</table>
					</div>
				</div>
				<div class="panel panel-default">
				
					<div class="panel-body">
						<div id="chartContainer"></div>
					</div>
				</div>
				
			</div>
			<!-- Stuff in the wishinglist -->
			<div class="col-sm-2">
				<div class="panel panel-default">
					<div class="panel-heading"> 种草 </div>
					<div class="panel-body">
						<div>
							<p><a href="#">Interests</a></p>
							<p>
								<span class="label label-default">La Mer</span>
					 			<span class="label label-primary">Dior</span>
					 			<span class="label label-success">ColorPop</span>
					 			<span class="label label-info">Chanel</span>
					 			<span class="label label-warning">Givenchy</span>
					 			<span class="label label-danger">NARS</span>
							</p>
					 	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script language="JavaScript">
   $('#chartContainer').highcharts({
	    chart: {
	        type: 'column'
	    },
	    title: {
	        text: 'Monthly Average Rainfall'
	    },
	    subtitle: {
	        text: 'Source: WorldClimate.com'
	    },
	    xAxis: {
	        categories: [
	            'Jan',
	            'Feb',
	            'Mar',
	            'Apr',
	            'May',
	            'Jun',
	            'Jul',
	            'Aug',
	            'Sep',
	            'Oct',
	            'Nov',
	            'Dec'
	        ],
	        crosshair: true
	    },
	    yAxis: {
	        min: 0,
	        title: {
	            text: 'Rainfall (mm)'
	        }
	    },
	    tooltip: {
	        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
	        footerFormat: '</table>',
	        shared: true,
	        useHTML: true
	    },
	    plotOptions: {
	        column: {
	            pointPadding: 0.2,
	            borderWidth: 0
	        }
	    },
	    series: [{
	        name: 'Tokyo',
	        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
	    }, {
	        name: 'New York',
	        data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]
	    }, {
	        name: 'London',
	        data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]
	    }]
	});
</script>
</body>
</html>